<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="BiryaniByChoice"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activity_otp_verify_registration"></activity>
        <activity android:name=".Home_Screen" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <activity android:name=".ManageAddresses.ManageAddresses" />
        <activity android:name=".OrderCart.Myorders" />
        <activity android:name=".Customer_Profile" />
        <activity android:name=".Signup" />
        <activity android:name=".Login" />
        <activity android:name=".OrderCart.Cart" />
        <activity android:name=".Contactus" />
        <activity android:name=".ManageAddresses.AddressList"/>
        <activity android:name=".Edit_Customer_Profile"/>
        <activity android:name=".AboutUs" />
        <activity android:name=".ItemDetails.ItemDetails"/>
        <activity android:name=".MainActivity" />
        <activity android:name=".FlashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>